.btnSize {
  min-width: 100px;
  padding: 8px 12px;
  text-align: center;
  font-size: 14px;
}

.card-bottom-font {
 font-weight:500;
}

.card-hover-lift {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover-lift:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}