<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head th:replace="~{layouts/head :: head(pageTitle='Dashboard')}"></head>
<footer class="pc-footer" th:fragment="footer">
    <div class="footer-wrapper container-fluid">
        <div class="row">
            <div class="col-sm my-1">
                <p class="m-0">ShopApp</p>
            </div>
            <div class="col-auto my-1">
                <ul class="list-inline footer-link mb-0">
                    <li class="list-inline-item"><a href="/">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</html>