<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/head :: head(pageTitle='Dashboard')}"></head>
<nav class="pc-sidebar" th:fragment="nav">
    <div class="navbar-wrapper">
        <div class="m-header">
            <a th:href="@{/}" class="b-brand text-primary">
                <!-- ========   Change your logo from here   ============ -->
                <h2 class="animated-title mb-0">ShopApp</h2>
            </a>
        </div>
        <div class="navbar-content">
            <ul class="pc-navbar">

                <li>
                    <div class="accordion" id="accordionExample">

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Stores
                                </button>
                            </h2>
                            <div id="collapseOne"
                                 th:classappend="${currentURI == '/stores/show-stores-page' or currentURI == '/stores/create-store-page'} ? ' show'"
                                 class="accordion-collapse collapse " data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="list-group">
                                        <a th:href="@{/stores/show-stores-page}"
                                           th:classappend="${currentURI == '/stores/show-stores-page'} ? 'active'"
                                           class="list-group-item list-group-item-action">
                                            Show Stores</a>
                                        <a th:href="@{/stores/create-store-page}"
                                           th:classappend="${currentURI == '/stores/create-store-page'} ? 'active'"
                                           class="list-group-item list-group-item-action">
                                            Create A Store</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Products
                                </button>
                            </h2>
                            <div id="collapseTwo"
                                 th:classappend="${currentURI == '/products' or currentURI == '/create-product-page'} ? ' show'"
                                 class="accordion-collapse collapse " data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="list-group">
                                        <a th:href="@{/products}"
                                           th:classappend="${currentURI == '/products'} ? 'active'"
                                           class="list-group-item list-group-item-action">
                                            Show Products</a>
                                        <a th:href="@{/create-product-page}"
                                           th:classappend="${currentURI == '/create-product-page'} ? 'active'"
                                           class="list-group-item list-group-item-action">
                                            Create A Product</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>









            </ul>

        </div>
    </div>
</nav>
</html>