<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layouts/head :: head(pageTitle='Dashboard')}"></head>
<div th:fragment="scripts">
    <script th:src="@{/assets/js/plugins/popper.min.js}"></script>
    <script th:src="@{/assets/js/plugins/simplebar.min.js}"></script>
    <script th:src="@{/assets/js/plugins/bootstrap.min.js}"></script>
    <script th:src="@{/assets/js/fonts/custom-font.js}"></script>
    <script th:src="@{/assets/js/fonts/custom-ant-icon.js}"></script>
    <script th:src="@{/assets/js/pcoded.js}"></script>
    <script th:src="@{/assets/js/plugins/feather.min.js}"></script>


    <script>
        layout_change('light');
    </script>

    <script>
        change_box_container('false');
    </script>

    <script>
        layout_rtl_change('false');
    </script>

    <script>
        preset_change('preset-1');
    </script>

    <script>
        font_change('Public-Sans');
    </script>

    <!-- Toast mesajı -->
    <script th:inline="javascript">
        const message = [[${message}]];
        const success = [[${success}]];

        if (message && message !== 'null') {
            const toast = document.getElementById('toastMessage');
            const toastText = document.getElementById('toastText');

            toastText.textContent = message;
            toast.classList.remove('bg-success', 'bg-danger');
            toast.classList.add(success ? 'bg-success' : 'bg-danger');

            toast.style.display = 'block';

            setTimeout(() => {
                toast.style.display = 'none';
            }, 2500);
        }
    </script>

</div>
</html>