<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head th:replace="~{layouts/head :: head(pageTitle='Products')}"></head>
  <body data-pc-preset="preset-1" data-pc-direction="ltr" data-pc-theme="light">

  <!-- [ Pre-loader ] start -->
  <div class="loader-bg">
    <div class="loader-track">
      <div class="loader-fill"></div>
    </div>
  </div>
  <!-- [ Pre-loader ] End -->

  <!-- [ Sidebar Menu ] start -->
  <nav th:replace="~{layouts/nav :: nav}"></nav>
  <!-- [ Sidebar Menu ] end -->

  <!-- [ Header Topbar ] Start -->
  <header th:replace="~{layouts/header :: header}"></header>
  <!-- [ Header ] End -->

  <!-- [ Main Content ] start -->
  <div class="pc-container">
    <div class="pc-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
          <div class="page-block">
            <div class="row align-items-center">
              <div class="col-md-12 mb-3">
                <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="../dashboard/index.html">Home</a></li>
                  <li class="breadcrumb-item"><a href="javascript: void(0)">Products</a></li>
                  <li class="breadcrumb-item" aria-current="page">Update Product</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- [ breadcrumb ] end -->

      <div class="row p-0">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8">

              <div class="card shadow">
                <div class="card-body">

                  <h2 class="mb-4 text-center">Update Product</h2>

                  <form th:action="@{/update-product/{id}(id=${product.id})}" th:object="${product}" method="post" enctype="multipart/form-data">

                    <!-- Gizli ID alanı -->
                    <input type="hidden" th:field="*{id}" />

                    <div class="mb-3">
                      <label for="name" class="form-label">Product Name</label>
                      <input type="text" class="form-control" id="name" th:field="*{name}" required>
                    </div>

                    <div class="mb-3">
                      <label for="description" class="form-label">Description</label>
                      <input type="text" class="form-control" id="description" th:field="*{description}">
                    </div>

                    <div class="mb-3">
                      <label for="price" class="form-label">Price</label>
                      <input type="number" step="0.01" class="form-control" id="price" th:field="*{price}" required>
                    </div>

                    <div class="mb-3">
                      <label class="form-label">Store</label>
                      <input type="text" class="form-control" th:value="${product.store.storeName}" disabled />
                    </div>

                    <div class="mb-3">
                      <label for="productImage" class="form-label">Current Image</label>
                      <img th:src="@{/{path}( path = ${product.getImageUrl()})}" class="img-fluid mb-2" alt="product image">
                      <input type="file" class="form-control" id="productImage" name="productImage" accept="image/*">
                    </div>

                    <div class="d-grid">
                      <button type="submit" class="btn btn-warning">Update Product</button>
                    </div>
                  </form>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [Footer] Start -->
  <footer th:replace="~{layouts/footer :: footer}"></footer>
  <!-- [Footer] End -->

  <!-- [Page Specific JS] start -->
  <script src="../assets/js/plugins/apexcharts.min.js"></script>
  <script src="../assets/js/pages/dashboard-default.js"></script>
  <!-- [Page Specific JS] end -->

  <!-- Required Js -->
  <div th:replace="~{layouts/scripts :: scripts}"></div>
  </body>
</html>
